*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header__inner{
    background-color: dodgerblue;
    padding: 5px 10px 5px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid red;
}
.my_blog{
    font-size: 22px;
    font-weight: 700;
}
.name{
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin-left: 20px;
}
.management{
    display: flex;
    align-items: center;
}
.management a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.enter{
    margin-right: 15px;
}
main{
    margin-right: 50px;
    margin-left: 150px;
    display: flex;
}
.column{
    width: 25%;
}
.col_head{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}
.command_desc{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 10px;
}
.git_command{
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
}
.visit a{
    text-decoration: none;
    font-weight: 700;
    color: dodgerblue;
}