.login-container {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.login-text-h3 {
    margin: 0;
    padding: 15px 0;
}

.login-text {
    background: rgb(126, 126, 255);
    display: flex;
    justify-content: center;
    color: white;
}

.login-form {
    border: 1px solid gray;
}

.login-inputs {
    margin:20px;
    
}

.login-input {
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.login-input > input {
    margin-bottom: 10px;
    padding: 5px;
    margin-top: 5px;
    width: 300px;
}

.login-button {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    
}

.login-button > button {
    padding: 5px;
}

.group_select {
    margin-bottom: 10px;
    padding: 5px;
    margin-top: 5px;
}