body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	height: 100%;
	font-size: 15px;
	color: #333;
	min-height: 900px ;
 }
 *,
 *:before,
 *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }

h1, 
h2{
	margin: 0;
}

html,
body{
	height: 100%;
}

a{
	margin: 0;
	padding: 0;
}

.wrapper{
	position: relative;
	min-height: 100%;
	background-color: #e9e9e9;
}

.footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}
/*	Conteiner */

.container{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

/* Header */

.header{
	width: 100%;
	background-color: #730d73;
	border-bottom: 4px solid #404040 ;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.headerlogo{
	font-size: 22px;
	font-weight: 700px;
	padding-left: 30px;

	color: #fff;
}

#head{
	padding: 0;
}

.header-name{
	font-size: 20px;
	padding: 0 0 0 15px;
}

.headerinner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Nav */
.nav {
	font-size: 14px;
	text-transform: uppercase;
 }
 
 .navlink {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;
 
	color: #fff;
	text-decoration: none;
 
	transition: color 0.2s linear;
 }
 
 .navlink:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
 
	background-color: #1b0b1a;
	opacity: 0;
 
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
 
	transition: opacity 0.1s linear;
 }
 
 .navlink:hover {
	color: #1b0b1a;
 }
 
 .navlink:hover:after {
	display: block;
	opacity: 1;
 }

 /* Authorization */

.authorization{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow:auto;
}

.form {
	border: 3px solid #f1f1f1;
	height: 700px;
	width: 500px;
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 100px auto auto auto;
}


input[type=text], input[type=password], #study-group {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: #730d73;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

#container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

.button-href{
	text-decoration: none;
	color: black;
}

/* Footer */

.bottom-text{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;

	background-color: #1b0b1a;
	color: #fff;
}

