html{
 
  height: 100%;
}
body {
  margin: 0;

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
header{
  
  background-color:rgb(0, 16, 119) ;
  display: flex;
}
h1{
  width: 980px;
  color: #fff;
  margin: 0px 0px 0px 10px;
}
.register{
  margin: auto;
  font-size: 200%;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#multiteg{
  width:206.4px
}

footer{
  margin: -19px 0 0 0;
  background-color: rgb(12, 3, 67);
  font-size: 20px;
  text-align: center;

}
.text-center{
background-color: #78a6e2;
text-align: center;
border-radius: 20px;
}

pre{
  color: #fff;
}
.registration-cssave{
  padding:50px ;
  justify-content: center;
  display: flex;
}

.registration-cssave form {
  max-width:300px;
  padding:50px 70px;
  border-radius:10px;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color:#fff;
}


.registration-cssave .item {
  border-radius:10px;
  margin-bottom:25px;
  padding:10px 20px;
}

.registration-cssave .create-account {
  border-radius:30px;
  padding:10px 20px;
  font-size:18px;
  font-weight:bold;
  background-color:#3f93ff;
  border:none;
  color:white;
  margin-top:20px;
 

}
.form-group{
   text-align: center
}
.bold{
  font-weight: bold; 
}
.grey{
  color: grey;
}
.green{
  color: green;
}
.orange{
  color: orange;
}
.blue{
  color: #3f93ff;
}
.main{
  display: flex;
  justify-content: center;
  margin: 0 0 20px 10px;
}
.part{
  margin: 10px;
}

@media (max-width: 576px) {
  .registration-cssave form {
    padding:50px 20px;
  }
}
